@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* primary */
    --light-red: hsl(0, 100%, 67%);
    --light-red-background: hsla(0, 100%, 67%, 5%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow-background: hsla(39, 100%, 56%, 5%);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-background: hsla(166, 100%, 37%, 5%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-background: hsla(234, 85%, 45%, 5%);

    /* gradients */
    --light-slate-blue: hsla(252, 100%, 67%, 70%);
    --light-royal-blue: hsl(241, 81%, 54%);
    
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0.3);
    --persian-blue-transparent: hsla(241, 72%, 46%, 0);
    
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

}

body {
    font-family: "Hanken Grotesk";
    background-color: var(--white);
    width: 100%;
}

main {
    width: 100%;
}

.component-results {
    background-color: var(--light-royal-blue);
    background-image: linear-gradient(to bottom, var(--light-slate-blue) 15%, var(--light-royal-blue) 95%);
    border-radius: 0 0 30px 30px;
    padding: 1.5rem;
}

h3 {
    color: var(--light-lavender);
    opacity: 95%;
    font-size: 1.125rem;
    font-weight: 800;
    text-align: center;
}

.component-results__score-final {
    background-image: linear-gradient(to bottom, var(--violet-blue) 3%, var(--persian-blue) 75%, var(--persian-blue-transparent) 95%);
    border-radius: 50%;
    width: 8.75rem;
    height: 8.75rem;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: var(--white);
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}

.component-results__score-final p {
    color: var(--light-lavender);
    opacity: 50%;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0;
    text-align: center;
}

.component-results > p {
    color: var(--light-lavender);
    opacity: 85%;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 2.25rem;
    margin-bottom: 0.875rem;
    text-align: center;
}

.component-summary {
    padding: 1.375rem 1.875rem;
}

h4 {
    color: var(--dark-gray-blue);
    font-size: 1.125rem;
    font-weight: 800;
    margin: 0.125rem;
    margin-bottom: 1.5rem;
}

.component-summary__blocks {
    list-style-type: none;
    font-weight: 700;
}

.component-summary__blocks li {
    border-radius: 8px;
    padding: 0 1rem;
    margin: 1rem 0;
    line-height: 3.4rem;
    display: flex;
    justify-content: space-between;
}

.component-summary__blocks img,
.component-summary__blocks p {
    color: var(--dark-gray-blue);
    font-size: 1rem;
    display: inline;
    vertical-align: middle;
}

.component-summary__reaction-block {
    background-color: var(--light-red-background);
}

.component-summary__reaction p {
    color: var(--light-red);
}

.component-summary__memory-block {
    background-color: var(--orangey-yellow-background);
}

.component-summary__memory p {
    color: var(--orangey-yellow);
}

.component-summary__verbal-block {
    background-color: var(--green-teal-background);
}

.component-summary__verbal p {
    color: var(--green-teal);
}

.component-summary__visual-block {
    background-color: var(--cobalt-blue-background);
}

.component-summary__visual p {
    color: var(--cobalt-blue);
}

.score-max {
    opacity: 50%;
    padding-left: 0.25rem;
}

.block-name {
    padding: 0 0.625rem;
    font-weight: 600;
}

.continue-button {
    background-color: var(--dark-gray-blue);
    border-radius: 28px;
    border: none;
    color: var(--pale-blue);
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 600;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem 0;
}

.continue-button:hover,
.continue-button:active {
    background-color: var(--light-royal-blue);
    background-image: linear-gradient(to bottom, var(--light-slate-blue) 15%, var(--light-royal-blue) 95%);
    cursor: pointer;
}

.attribution { 
    font-size: 0.875rem;
    padding: 0.5rem;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 46rem) {

    body { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        min-height: 100vh; 
    }

    main {
        border-radius: 30px;
        box-shadow: 15px 35px 40px var(--pale-blue);
        width: 46rem;
        display: flex;
        flex-direction: row;
    }

    .component-results, 
    .component-summary {
        width: 50%;
    }

    .component-results {
        border-radius: 30px;
        padding: 2.375rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    
    .component-results__score-final {
        width: 12.5rem;
        height: 12.5rem;
        margin: 2.125rem auto 1.75rem;
    }
    
    h1 {
        font-size: 4.375rem;
        line-height: 5rem;
    }
    
    h2 {
        font-size: 2rem;
        margin: 0.875rem 0;
    }
    
    .component-results > p {
        font-size: 1.125rem;
        margin: 0.875rem 1.25rem;
    }

    .component-summary {
        padding: 2.25rem 2.5rem;
    }
    
    h4 {
        font-size: 1.5rem;
        margin-bottom: 1.75rem;
    }
    
    .component-results__score-final p,
    .component-summary__blocks img,
    .component-summary__blocks p {
        font-size: 1.125rem;
    }

    .continue-button {
        margin: 1.625rem 0 0;
    }
    
}

@media (min-height: 35.5rem) and (min-width: 46rem) {
    .attribution { 
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}